@media screen and (max-width:1300px)
{
    h1{
        font-size: 17px;
    }
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 21px;
    }
    *{
        font-size: 15px;
    }
}
@media screen and (max-width:1050px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .cercle{
        width: 150px;
        height: 150px;
    }
    #education,#competences,#information{
        display: flex;
        flex-direction: column;
        width : 100%;
        min-width: 100%;
        max-width: 100%;
    }
    #description,#educationPhoto,#diagramme,#softSkills,#loisir,#contactMoi{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    
    #contactMoi{
        height: 40vh;
    }
}

@media screen and (max-width:424px)
{
    header{
        ul{
            display : flex;
            flex-direction: column;
            li{
                text-align : center;
            }
        }
    }
}